body {
  background-image: url('../../content/jonatan-pie-unsplash.jpg');
  margin: 0;
  font-family: Arial, sans-serif;

}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-box {
  flex: 1;
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  /* opacity: 70%; */

}

/* Default styles for .centered-box */
.centered-box {
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(172, 221, 252, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 450px;
  min-height: 250px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .centered-box {
    min-width: 80%;
    min-height: 200px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .centered-box {
    min-width: 50%;
    min-height: 150px;
  }
}


.Game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formData {

  list-style-type: none;
}

li {
  margin-bottom: 15px;

}

button {
  background-color: blue;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10%;

}

button:hover {
  background-color: rgb(79, 79, 208);
  cursor: pointer;
}

.score {
  margin: 12px 20px;
}

/* Header.css */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;


}

nav a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

/* Footer.css */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}